doctype html
html
    head
        include includes
        link(rel='stylesheet', href='/styles/style.css')
        block page_name
    body
        h1.title
            block title
        .question
            i
                block question
        .content_body
            block content
