text-indent = 30px

body
  margin 0 0 0 0
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color #dbdbdb

div.banner
  width 100%
  position relative
  margin 0 0 0 0
  height: 100px
  background-color #222222

div.content
  padding 50px

a
  color #fa9b00


h1.title
  color #222222

p
  margin-left text-indent
  width 85%


div.question
  margin 0 auto
  width 60%
  background-color #D6D6D6
  padding 1px 1px 1px 1px
  border-radius 5px
  color #7F7F7F


.code_sample
  margin-left text-indent
  width 80%
  border-style  solid
  border-width 5px
  border-color #C97731
  border-radius 4px
